body {
    text-align:center;
    font-family: 'Noto Sans JP', sans-serif;
}
.header{
    padding-top:7rem;
    padding-bottom:5rem;
}
.banner-a img{
    height:240px;
}
.banner-b img{
    height:45px;
}
button{
    margin:10px;
}
.footer {
    padding-top: 1.5rem;
    border-top: 0.05rem;
}
