body {
    text-align:center;
    font-family: 'Noto Sans JP', sans-serif;
}
.header{
    padding-top:7rem;
    padding-bottom:5rem;
}
.browser{
    padding-top: 2rem;
    padding-bottom: 5rem;
}
.browser img{
    width: 72px;
    height: 72px;
}
.browser p{
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
}
.firefox-config a{
    margin:10px;
}
.footer{
    padding-top:1.5rem;
    border-top:0.05rem;
}
