body {
    text-align:center;
    font-family: 'Noto Sans JP', sans-serif;
}
.header{
    padding-top:7rem;
    padding-bottom:5rem;
}
.config{
    padding-top: 2rem;
    padding-bottom: 5rem;
}
.config img{
    width:345px;
}
.footer{
    padding-top:1.5rem;
    border-top:0.05rem;
}
