body {
    text-align:center;
    font-family: 'Noto Sans JP', sans-serif;
}
.header{
    padding-top:7rem;
    padding-bottom:5rem;
}
.party,
.status{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.party img{
    width: 120px;
    height: 120px;
}
.green img{
    width: 120px;
    height: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.status p{
    padding-top:1rem;
}
.warning{
    color:red;
}
#announce{
    padding-top:2rem;
    padding-bottom:2rem;
}
.footer {
    padding-top: 1.5rem;
    border-top: 0.05rem;
}
