body{
    font-family: 'Noto Sans JP', sans-serif;
}
nav,
.footer{
    text-align:center;
}
.jumbotron{
    margin-top:7rem;
}
.container{
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
.footer{
    padding-top:1.5rem;
    border-top:0.05rem;
}
