body {
    text-align:center;
    font-family: 'Noto Sans JP', sans-serif;
}
.header{
    padding-top:7rem;
    padding-bottom:5rem;
}
.policy{
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.footer {
    padding-top: 1.5rem;
    border-top: 0.05rem;
}
